@media screen and (max-width: 900px){
    body .individualStep{
        flex-direction: column;
        align-items: center;
    }
    
    body .individualStep > p{
        font-size: 1.2rem;
        height: 13rem;
    }
    body .individualStep > img{
        margin: 1rem;
        height: 50%;
        width:50%;
    }
    body .cardContainer{
        width: 100%;
    }
}

.outerContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}

.outerContainer > h1{
    color:var(--white);
}

.outerContainer > p{
    color:var(--white);
}

.outerContainer p{
    margin: 0 2rem 0 2rem;
}

.outerContainer > p{
    font-size:1.3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    border-radius: 50px;
}

.stepsContainer{
    display:flex;
    justify-content: flex-start;
    margin: 1rem 5rem 1rem 5rem;
    flex-direction: column;

    color: var(--white);
    width: 80%;
    background-color: var(--blue);
    border-radius: 20px;
}

.stepsContainer > h2{
    margin: 2rem 0 0 2rem;
}

.individualStep{
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
}

.individualStep > img{
    height: 15rem;
    margin: 0 0 2rem 1rem;
}

.individualStep > p{
    display: flex;
    align-items: center;
    
    margin: 0 3rem 0 3rem;

    font-size: 1.5rem;
    text-align: center;

    height: 13rem;
}


.dividerLine{
    display: flex;
    align-items: center;
    width:100%;
}

.dividerLine > hr{
    margin-top:1rem;
    border: none;
    border-top: 2px solid #bbb;
    border-radius: 3px;
    width:80%;
    margin-left: 10%;
}

.questionsContainer{
    display:flex;
    flex-direction: row;
    margin-top:1rem;
    justify-content: space-between;

    color: var(--white);
    font-size: 1rem;
}

.questionsContainer > a{
    margin: 0 0.2rem 2rem 0.2rem;
    color: var(--text);
}