@media screen and (max-width: 800px){
    body .outerContainer{
        width:100%;
        margin:2rem 0 3rem;
    }
    body .descContainer > input{
        width:70vw;
    }
}

.outerContainer{
    width: 70%;
    margin: 2rem 0 3rem 15%;
    padding-top:2rem;
    padding-bottom:1.5rem;

    background: var(--black);

    border-radius: 25px;
}

.listingContainer{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

.searchButtonContainer{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.searchButton{
    width:8rem;
    height:2rem;

    background: var(--white);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    
    border: none;
    border-radius: 5px;
}

.searchButton:hover{
    filter: brightness(0.97);
}

.descContainer{
    display: flex;
    flex-direction: column;
    margin: 0.5rem 3rem;
}

.descContainer > input{
    width: 50vw;
    box-sizing: border-box;
    
    padding: 0.3rem 1rem;
    margin-top: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 15px;

    transition: 0.2s;
    -webkit-transition: 0.2s;
}

.descContainer > input:focus{
    border: 2px solid #555;
}


.descContainer > label{
    font-size: 1.5rem;
    font-weight: 600;

    color: var(--white);
}