.descContainer{
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
}

.descContainer > input{
    width: 30rem;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 0.3rem 1rem;
    margin-top: 0.5rem;
    border: 2px solid #ccc;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    
}

.descContainer > input:focus{
    border: 2px solid #555;
}


.descContainer > label{
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
}