@media screen and (max-width: 800px){
    body .jobContainer{
        width: 100%;
        overflow: auto;
    }

    body .detailsContainer{
        width: 100%;
    }
}

@media screen and (max-width: 400px){
    body .jobContainer > img {
        display: none;
    }
}

.jobContainer{
    display: grid;
    align-items: center;
    background: var(--white);
    border-radius: 50px;
    height: 10rem;
    width: 70vw;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 0.2s;
    transition: 0.2s;
    grid-template-columns: 4fr 1fr;
    margin-bottom: 0.5rem;
}

.jobContainer:hover{
    filter: brightness(0.97);
    transform: scale(1.05);
}

.textInfo {
    justify-self: center;
    margin-left: 2rem;
}

.textInfo:hover {
    filter: brightness(0.97);
    cursor: pointer;
}

.textInfo > div {
    display: flex;
    margin-top: 0.4rem;
    justify-content: center;
}

.textInfo > span{
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 1.5rem;
}

.textInfo > div > span:first-child{
    font-size: 1.1rem;
    font-weight: 400;
    padding-right: 0.2rem;
    
}

.textInfo > div > span:last-child{
    color:var(--green);
    font-size: 1.1rem;
    font-weight: 700;
    padding-left: 0.2rem;
}

.jobContainer > img {
    width:7rem;
    height:50;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.detailsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-wrap: break-word;
    align-items: center;
    background: var(--white);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 70%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    transition: background-color 0.2s;
    margin-bottom: 0.5rem;
    color: var(--background);
}

.detailsContainer > h3 {
    margin-top: 0.8rem;
}

.detailContent{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    max-width: 80%;
    padding-bottom: 1.5rem;
}

.detailContent p{
    margin: 0.5rem 0 0.5rem 0;
}

.detailContent ul{
    margin: 0.5rem 0 0.5rem 0;
}

.jobContainerActive{
    background: var(--blue);
    color: var(--white);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.jobContainerActive > div > span{
    color: var(--white);
}

.jobContainerActive > div > div > span{
    color: var(--gray-line);
}