@media screen and (max-width: 900px){
    body .navItems{
        font-size: 1.3rem;
        align-items: center;
    }

    body .brandName{
        font-size: 1.7rem;
    }

    body .navSingleItem{
        border-left: 1px solid var(--white);
        padding-left: 1rem;
    }
}

.outerNavBarContainer{
    display: flex;
    position: fixed;
    top:0;
    width:100%;
    z-index: 5;

    background: var(--background);
}

.brandName {
    font-size: 2rem;
    font-weight: 600;
    width:20%;

    color: var(--white);

    margin-top: 1rem;
    margin-left: 2rem;
}

.navBarContainer{
    display: flex;
    justify-content: flex-end;
    height: 4.5rem;
    width:100%;
}

.navItems{
    display: flex;
    font-size: 1.6rem;

    justify-content: flex-start;

    margin-right: 3rem;
    margin-top: 1.2rem;

    color: var(--white);
}

.navSingleItem{
    transition: 0.2s;
    margin-left: 2rem;
}

.navSingleItem:hover{
    filter: brightness(0.80);
}